.shopcategory-banner{
    display: block;
    margin : 30px auto;
    width : 82%;
}
.shopcateegory-indexSort{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    width: fit-content;
    border : 1px solid #888;
}
.shopcategory-sort select{
    font-size: 15px;
    border: none;
}
.shopcategory-sort select option{
    font-size: 15px;
    border: none;
}

.shopcateegory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    padding : 20px;
    margin : 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 0px;
}