.qrpayment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 100px auto;
}
.payment-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrpayment hr{
    width : 80%;
    border : none;
    border-radius: 10px;
    height : 3px;
    background: #c7c7c7;
}
.payment-logos img{
    width: 6%;
    aspect-ratio: 3/3;
    object-fit: contain;
    margin : 1px 15px;
}
.qrpayment button{
    margin-top: 40px;
    margin-bottom : -100px;
    font-size: 23px;
    padding : 15px;
    background: rgb(234, 85, 85);
    font-weight: 700;
    border : none;
    border-radius:10px;
    color : white;
    cursor: pointer;
}
.qrpayment button:hover{
    background:  rgb(232, 57, 57);;
}